# ignore cargo build directory
/target

# ignore nix config directories/files
/result*
.direnv
.pre-commit-config.yaml

# ignore process-compose data
/data

# misc
*.tar.gz
*.txt

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
